.icon {

  height: 0.75em;

  fill: inherit;
  transition: fill $time, transform $time;

}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.icon.icon-spin {
  animation: spin 2s infinite linear;
}
