$padding: 1rem;

$font-size: 14px;

$time: 250ms;

$header-height: 3rem;

$font-hero: 'OldSansBlack';
$font-title: 'OldSansBlack';
$font-body: 'Helvetica';

$bg-primary-color: #131412;
$bg-secondary-color: #E05A15;

$text-primary-color: #eeefef;
$text-secondary-color: #7a4e0d;
