$padding: 1rem;

$font-size: 14px;

$time: 250ms;

$header-height: 3rem;

$font-hero: 'Imperial One';
$font-title: 'Hunger Games';
$font-body: 'Helevetica';

$bg-primary-color: #131412;
$bg-secondary-color: #e0921d;

$text-primary-color: #eeefef;
$text-secondary-color: #7a4e0d;
