$background-color: #000;
$padding: 14px;

$title-font: 'Arial Black';
$title-size: 24px;
$title-color: #FFF;
$title-hover-color: #FFF;
$title-active-color: #FFF;

$body-font: 'Helvetica';
$body-size: 16px;
$body-color: #FFF;
$body-hover-color: #777;
$body-active-color: #FFF;

$navigation-height: $title-size * 1.5;
